@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@layer base {
  body {
    @apply bg-[#1C1C1C] text-white antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
